@charset "utf-8";
/*	case
---------------------------------*/

//archive top
#case_archive_attention {
	width: 980px;
	margin: 0 auto 50px;
	
	@media screen and (max-width: $viewport) {
		width: 94%;
		margin: 0 auto 5vw;
	}
	
	> figure {
		margin-bottom: 50px;
		
		@media screen and (max-width: $viewport) {
			margin-bottom: 5vw;
		}
	}
	
	> p {
		color: #f78d00;
		font-size: 24px;
		line-height: 150%;
		margin-bottom: 30px;
		
		@media screen and (max-width: $viewport) {
			color: #f78d00;
			font-size: 18px;
			line-height: 150%;
			margin-bottom: 5vw;
		}
	}
	
	> ul {
		line-height: 200%;
		margin-bottom: 60px;
		font-size: 16px;
		
		@media screen and (max-width: $viewport) {
			margin-bottom: 5vw;
		}
	}
	
	> h2 {
		margin-bottom: 60px;
		
		@media screen and (max-width: $viewport) {
			margin-bottom: 5vw;
		}
	}
}

//nav

.nav_style {
	margin-bottom: 20px;
	overflow: hidden;
	
	li {
		width: 33.333%;
		float: left;
		overflow: hidden;
		
		@media screen and (max-width: $viewport) {
			width: 100%;
			float: none;
			overflow: hidden;
		}
		
		&:nth-child(1) {
			a {
				background: #0068b6;
			}
		}
		
		&:nth-child(2) {
			a {
				background: #ea613b;
			}
		}
		
		&:nth-child(3) {
			a {
				background: #6cbb63;
			}
		}
		
		a {
			display: block;
			padding: 13px 10px;
			color: white;
			font-size: 18px;
			overflow: hidden;
			opacity: 1;
			transition: all .7s;
			
			@media screen and (max-width: $viewport) {
				font-size: 14px;
			}
			
			&::after {
				font-family: FontAwesome;
				content: "\f0da";
				color: #c6d800;
				float: right;
			}
			
			&:hover {
				opacity: .5;
			}
		}
	}
}

//ttl

.ttl_stylelist {
	font-size: 18px;
	margin-bottom: 20px;
}

//archive

#loop {
	width: 980px;
	margin: 0 auto;
	
	@media screen and (max-width: $viewport) {
		width: 94vw;
		margin: 0 auto;
	}
	
	.items {
		overflow: hidden;
		
		.box {
			box-sizing: border-box;
			width: 32%;
			float: left;
			margin-right: 2%;
			border: 1px solid silver;
			padding: 10px;
			margin-bottom: 23px;
			
			@media screen and (max-width: $viewport) {
				box-sizing: border-box;
				width: 100%;
				float: none;
				margin-right: 0;
				border: 1px solid silver;
				padding: 10px;
				margin-bottom: 5vw;
			}
			
			&:nth-of-type(3n) {
				margin-right: 0;
			}
			
			a {
				display: block;
				opacity: 1;
				transition: all .7s;
				
				&:hover {
					opacity: .5;
				}
			}
			
			 figure {
				height: 160px;
				overflow: hidden;
				
				@media screen and (max-width: $viewport) {
					height: 50vw;
					
					> img {
						width: 100%;
						height: auto;
					}
				}
			}
			
			.style_archive {
				display: block;
				color: white;
				font-size: 16px;
				line-height: 125%;
				background: #999;
				padding: 7px 15px 5px;
				
				&.style_a {
					background: #0068b6;
				}
				
				&.style_b {
					background: #ea613b;
				}
				
				&.style_c {
					background: #6cbb63;
				}
			}
			
			.title_archive {
				display: block;
				color: white;
				font-size: 16px;
				line-height: 125%;
				background: #4d4d4d;
				padding: 10px 15px;
			}
			
			table {
				width: 100%;
				line-height: 150%;
				font-size: 12px;
				
				tr:first-of-type {
					border-bottom: 1px solid white;
				}
				
				th {
					width: 3em;
					background: #999;
					padding: 2px 5px;
					color: white;
					vertical-align: middle;
				}
				
				td {
					background: #e6e6e6;
					padding: 2px 5px;
					vertical-align: middle;
				}
			}
		}//.box
	}//.items
}//#loop

//single
#case {
	width: 980px;
	min-width: 980px;
	margin: 0 auto;
	
	@media screen and (max-width: $viewport) {
		width: 94%;
		min-width: 94%;
		margin: 0 auto; 
	}
	
	.ttl_case {
		display: block;
		margin-bottom: 20px;
	}
	
	.ttl_sec_case {
		margin-bottom: 20px;
	}
	
	> .inner {
		border: 1px solid silver;
		padding: 36px;
		
		@media screen and (max-width: $viewport) {
			padding: 6vw;
		}
		
		> .primary {
			overflow: hidden;
			
			.style {
				display: block;
				background: $insert;
				color: white;
				font-size: 18px;
				font-weight: bold;
				padding: 7px 20px 5px;
				
				&.style_a {
					background: #0068b6;
				}
				
				&.style_b {
					background: #ea613b;
				}
				
				&.style_c {
					background: #6cbb63;
				}
			}
			
			.ttl_job {
				background: #4d4d4d;
				color: white;
				font-size: 25px;
				font-weight: bold;
				line-height: 150%;
				padding: 10px 20px;
				margin-bottom: 20px;
				
				@media screen and (max-width: $viewport) {
					font-size: 20px;
				}
			}
			
			.lead {
				color: $base;
				font-size: 16px;
				font-weight: bold;
				line-height: 150%;
				margin-bottom: 10px;
				
				&.style_a {
					color: #0068b6;
				}
				
				&.style_b {
					color: #ea613b;
				}
				
				&.style_c {
					color: #6cbb63;
				}
			}
			
			.data {
				
				&.narrow {
					width: 460px;
					float: left;
					
					@media screen and (max-width: $viewport) {
						width: 100%;
						float: none;
						margin-bottom: 5vw;
					}
				}
			}
			
			.img_case_main {
				width: 420px;
				float: right;
				
				@media screen and (max-width: $viewport) {
					margin-bottom: 10vw;
				}
			}
		}//.primary
		
		#btn_requirements {
			//global style
			background: #808080;//#808080
			color: white;
			font-size: 16px;
			display: inline-block;
			padding: 9px 10px 11px 24px;
			opacity: 1;
			transition: all .7s;
			margin-bottom: 30px;
			
			> i {
				padding-left: 2em;
				color: #c6d800;
				font-size: 22px;
				position: relative;
				top: 2px;
			}
			
			&:hover {
				opacity: .5;
			}
		}
		
		.img_case_wide {
			margin-bottom: 20px;
			
			> img {
				width: 100%;
				height: auto;
			}
		}
		
		#pr {
			margin-bottom: 40px;
			
			@media screen and (max-width: $viewport) {
				margin-bottom: 10vw;
			}
			
			.box_block {
				overflow: hidden;
				margin-bottom: 30px;
				
				@media screen and (max-width: $viewport) {
					margin-bottom: 5vw;
				}
				
				.data {
					width: 100%;
					float: none;
					
					&.narrow {
						width: calc(100% - 250px);
						float: left;
						
						@media screen and (max-width: $viewport) {
							width: 100%;
							float: none;
						}
					}
				}
				
				> figure {
					width: 230px;
					float: right;
					
					@media screen and (max-width: $viewport) {
						width: 80%;
						margin: 0 auto;
						float: none;
						text-align: center;
					}
				}
				
				.ttl {
					color: $base;
					font-size: 18px;
					line-height: 150%;
					margin-bottom: 10px;
					
					&.style_a {
						color: #0068b6;
					}
					
					&.style_b {
						color: #ea613b;
					}
					
					&.style_c {
						color: #6cbb63;
					}
				}
				
				.text {
					line-height: 200%;
					
					@media screen and (max-width: $viewport) {
						margin-bottom: 5vw;
					}
				}
			}//.box_block
		}//#pr
		
		#gallery {
			margin-bottom: 40px;
			overflow: hidden;
			
			@media screen and (max-width: $viewport) {
				margin-bottom: 10vw;
			}
			
			figure {
				width: 32%;
				float: left;
				margin-right: 2%;
				margin-bottom: 20px;
				
				@media screen and (max-width: $viewport) {
					width: 100%;
					float: none;
					margin-right: 0;
				}
				
				&:nth-of-type(3n) {
					margin-right: 0;
				}
				
				figcaption {
					line-height: 200%;
				}
			}
		}//#gallery
		
		#requirements {
			margin-bottom: 40px;
			overflow: hidden;
			
			@media screen and (max-width: $viewport) {
				margin-bottom: 10vw;
			}
			
			table {
				width: 100%;
				line-height: 200%;
				margin-bottom: 30px;
				
				@media screen and (max-width: $viewport) {
					margin-bottom: 5vw;
				}
				
				tr:nth-of-type(odd) {
					background: #e6e6e6;
					
					@media screen and (max-width: $viewport) {
						background: none;
					}
				}
				
				th {
					width: 124px;
					text-align: left;
					vertical-align: top;
					padding: 20px;
					
					@media screen and (max-width: $viewport) {
						box-sizing: border-box;
						display: block;
						width: 100%;
						background: #e6e6e6;
						padding: 2vw;
					}
				}
				
				td {
					padding: 20px;
					
					@media screen and (max-width: $viewport) {
						box-sizing: border-box;
						display: block;
						padding: 2vw;
					}
				}
			}//table
			
			#mapurl {
				text-align: right;
				text-decoration: underline;
			}
		}//#requirements
		
		#btn_entry {
			display: block;
			background: #c1272d;
			color: white;
			font-size: 16px;
			font-weight: bold;
			width: 230px;
			padding: 15px 20px;
			margin: 0 auto;
			transition: all .7s;
			position: relative;
			
			&::after {
				color: #c6d800;
				font-family: FontAwesome;
				content: "\f0da";
				position: absolute;
				top: 15px;
				right: 10px;
			}
			
			&:hover {
				opacity: .5;
			}
		}
		
		.linktel_p {
			margin-top: 30px;
			font-size: 20px;
			text-align: center;
			
			.label {
				padding-right: 30px;
				
				&::after {
					font-family: FontAwesome;
					color: #c6d800;
					content: "\f0da";
					padding-left: 15px;
				}
			}
			
			.number {
				font-size: 32px;
				font-weight: bold;
			}
		}
		
		.linktel_s {
			margin-top: 30px;
			font-size: 16px;
			text-align: center;
			
			.label {
				padding-right: 3vw;
				
				&::after {
					font-family: FontAwesome;
					color: #c6d800;
					content: "\f0da";
					padding-left: 2vw;
				}
			}
		}
	}//.inner
	
	#historyback {
			margin-top: 30px;
			text-align: center;
			
			> a {
				font-size: 16px;
				font-weight: bold;
				transition: all .7s;
			
				&::before {
					color: #c6d800;
					font-family: FontAwesome;
					content: "\f0d9";
					padding-right: 20px;
				}
				
				&:hover {
					opacity: .5;
				}
			}			
		}//historyback
}