@charset "utf-8";
$viewport: 640px;
$base: #333;
$insert: #799ECB;

$游ゴシック: "游ゴシック", YuGothic,'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
$游明朝: "游明朝", "YuMincho", serif, "ヒラギノ明朝 ProN W6", "HiraMinProN-W6";
$メイリオ: Meiryo, メイリオ, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
$ヒラギノ: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;

$heading_line-height: 125%;

/*	common
---------------------------------*/

body {
	color: $base;
	font-family: $游ゴシック;
	font-size: 14px;
	font-weight: 500;//$游ゴシック
	word-wrap: break-word;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
	
	@media screen and (max-width: 1060px) {
		width: 1060px;
	}

	@media screen and (max-width: $viewport) {
		width: 100%;
		font-size: 14px;
	}
}

/* link */
a {
	color: $base;
	text-decoration: none;
}
a:active, a:focus {
   outline:  none;
}

/* element */
.btn {
	opacity: 1;
	transition: opacity 0.5s;
}
.btn:hover {
	opacity: 0.5;
	
}

/* adjust anchor */
.anc {
	margin-top: -0px;
    padding-top: 0px;
}

/* figure */
img {
	max-width: 100%;
	height: auto;
}

/* heading */
h1, h2, h3, h4, h5, h6 {
	//line-height: $heading_line-height;
}

/* text */
p {
	text-align: justify;
}

/*	clearfix
---------------------------------*/

/* add parent object */
.cl:before, .cl:after {
	content: " ";
	display: table;
}
.cl:after {
	clear: both;
}
.cl {
 *zoom: 1;
	display: block;
}

/*	section
---------------------------------*/

#main {
	width: 100%;
}

#side {}

/*	breads
---------------------------------*/
#breads {
	
	a:hover {
		text-decoration: underline;
	}
}

/*	pagination
---------------------------------*/

/* wrap */
.pagination {
	text-align: center;
	margin-bottom: 60px;
}

/* heading */
.screen-reader-text {
	display: none;
}

/* wrap */
.nav-links {
	overflow: hidden;
}

/* link */
a.page-numbers {
	background-color: $insert;
	color: white;
	display: inline-block;
	margin-right: 15px;
	padding: 6px 6px 6px;
}
.nav-links .current {
	display: inline-block;
	margin-right: 15px;
	color: $insert;
}
.dots {
	margin-right: 15px;
}
.nav-links a.next {
	border: none;
}
.nav-links a.prev {
	border: none;
}

.jsPagination {
	margin-bottom: 60px;
	
	@media screen and (max-width: $viewport) {
		margin-bottom: 10vw;
	}
	
	ul {
		text-align: center !important;
		
		li {
			margin-right: 15px;
			display: inline-block;
			color: $insert;
			
			> button {
				display: block !important;
				color: white;
				background: $insert !important;
				padding: 6px 6px 6px !important; 
			}
		}
	}
}

/*	display
---------------------------------*/

.hide-panel {
	display: none;
}

//wrap
.pc-block {
	display: block;
	@media screen and (max-width: $viewport) {
		display: none;
	}
}
.sp-block {
	display: none;
	@media screen and (max-width: $viewport) {
		display: block;
	}
}
.pc-inline {
	display: inline;
	@media screen and (max-width: $viewport) {
		display: none;
	}
}
.sp-inline {
	display: none;
	@media screen and (max-width: $viewport) {
		display: inline;
	}
}

//wrap
.block_p {
	display: block;
	@media screen and (max-width: $viewport) {
		display: none;
	}
}
.block_s {
	display: none;
	@media screen and (max-width: $viewport) {
		display: block;
	}
}
.inline_p {
	display: inline;
	@media screen and (max-width: $viewport) {
		display: none;
	}
}
.inline_s {
	display: none;
	@media screen and (max-width: $viewport) {
		display: inline;
	}
}
