@charset "utf-8";
/*	footer
---------------------------------*/

#nav_foot_normal {
	display: none;
	
	@media screen and (max-width: $viewport) {
		display: none;
		
		.inner_other {
			box-sizing: border-box;
			position: fixed;
			width: 100%;
			left: 0;
			bottom: 10vw;
			padding: 4vw;
			overflow: hidden;
			
			> a {
				box-sizing: border-box;
				display: block;
				width: 12vw;
				height: 12vw;
				border-radius: 6vw;
				text-align: center;
				font-size: 6vw;
				font-weight: bold;
				color: white;
				padding-top: 2vw;
				background: $insert;
				float: right;
			}
		}
		
	}
}
