@charset "utf-8";
/*	header
---------------------------------*/

header.normal {
	@media (max-width: $viewport) {
		display: none;
	}
}

header.device {
	display: none;
	
	@media (max-width: $viewport) {
		display: block;
	}
	
	.inner {
		padding: 3vw;
		overflow: hidden;
		
		.logo {
			display: block;
			width: 50vw;
			float: left;
		}
	}
}