@charset "utf-8";
/*	pages
---------------------------------*/

//404
#page_404 {
	padding: 100px 0 0;
	
	@media (max-width: $viewport) {
		width: 88vw;
		margin: 0 auto;
		padding: 20vw 0 20vw;
	}
	
	.lead_404 {
		font-size: 20px;
		font-weight: bold;
		line-height: 1.5;
		margin: 0 0 20px;
		text-align: center;
		
		@media (max-width: $viewport) {
			font-size: 4.2vw;
			margin: 0 0 3vw;
			text-align: left;
		}
	}
	
	.text_404 {
		line-height: 1.8;
		text-align: center;
		margin: 0 0 100px;
		
		@media (max-width: $viewport) {
			text-align: left;
			margin: 0 0 10vw;
		}
	}
	
	.btn_top_404 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 240px;
		height: 52px;
		box-sizing: border-box;
		padding: 0 10px 0 10px;
		border: 1px solid #000;
		background: #E6E6E6;
		line-height: 1;
		margin: 0 auto 120px;
		transition: all .5s;
		
		@media (max-width: $viewport) {
			width: 60vw;
			height: 12vw;
			padding: 0 0 0 3vw;
			margin: 0 auto 10vw;
		}
		
		@media all and (-ms-high-contrast: none) {
			padding: 5px 10px 0 10px;
		}
				
		&:hover {
			opacity: .5;
			
			@media (max-width: $viewport) {
				opacity: 1;
			}
		}
		
		&::after {
			content: "▶︎";
		}
	}	
}

