@charset "utf-8";
/*//////////////////////////////////////////

	clearfix
	
//////////////////////////////////////////*/
.cl:before, .cl:after {
	content: " ";
	display: table;
}
.cl:after {
	clear: both;
}
.cl {
 *zoom: 1;
	display: block;
}

/*//////////////////////////////////////////

	アンカー

//////////////////////////////////////////*/
a {
	color: #7543ba;
	text-decoration: none;
}

/*//////////////////////////////////////////

	レイアウト

//////////////////////////////////////////*/
.screen {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.relative {
	position: relative;
}
.left {
	float: left;
}
.right {
	float: right;
}
.center {
	text-align: center;
}
.block {
	display: block;
}
.empty {
	display: none;
}
/* ボトムマージン調整 */
.margin-bottom-0 {
	margin-bottom: 0 !important;
	display: block;
}
.margin-bottom-5 {
	margin-bottom: 5px !important;
	display: block;
}
.margin-bottom-10 {
	margin-bottom: 10px !important;
	display: block;
}
.margin-bottom-15 {
	margin-bottom: 15px !important;
	display: block;
}
/* マージン調節 */
.margin-height-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important:
}
.margin-height-5 {
	margin-top: 5px !important;
	margin-bottom: 5px !important:
}
.margin-height-10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important:
}
.margin-height-15 {
	margin-top: 15px !important;
	margin-bottom: 15px !important:
}
/* 左右マージン 0 */
.margin-left-0 {
	margin-left: 0 !important;
}
.margin-right-0 {
	margin-right: 0 !important;
}

/*//////////////////////////////////////////

	PC SP 切り分け

//////////////////////////////////////////*/
.pc-block {
	display: block;
}
.sp-block {
	display: none;
}
.pc-inline {
	display: inline;
}
.sp-inline {
	display: none;
}

@media (max-width:640px){
.pc-block {
	display: none;
}
.sp-block {
	display: block;
}
.pc-inline {
	display: none;
}
.sp-inline {
	display: inline;
}
}/* /sp */

/*//////////////////////////////////////////

	body wrap container

//////////////////////////////////////////*/
body {
	color: #595757;
	font-family: Meiryo, メイリオ, 'MS Pゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
	font-size: 16px;
	word-wrap: break-word;
	-webkit-font-smoothing: subpixel-antialiased;
	}

/*//////////////////////////////////////////

	段落 / 見出し / 文書 

//////////////////////////////////////////*/
p {
	line-height: 175%;
	margin-bottom: 25px;
	text-align: justify;
	text-justify: inter-ideograph;
	-ms-text-justify: inter-ideograph;
}
/*//////////////////////////////////////////

	ヘッダー

//////////////////////////////////////////*/
/* ヘッダー */
header {

}

/* ロゴ */
#site-id {

}

/*//////////////////////////////////////////

	グローバルナビ

//////////////////////////////////////////*/
nav#global-nav {/* グローバルナビ nav エリア */

}
ul#global-ul {/* グローバルナビ ul */
	
}
.ul-nav {}
.ul-nav li {
	float: left;
}
.ul-nav li a {
	display: block;
}
.ul-nav li:first-child a {}


/*//////////////////////////////////////////

	フッター

//////////////////////////////////////////*/
footer {

}


/*//////////////////////////////////////////

	メインエリアレイアウト

//////////////////////////////////////////*/
#main {}
#sidebar {}

/*//////////////////////////////////////////

	パン屑

//////////////////////////////////////////*/
ul.bread_crumb {
	margin-bottom: 15px;
	line-height: 175%;
}
.bread_crumb li {
	display: inline;
}
.bread_crumb li.sub{
}
.bread_crumb li.sub:before {
	content: "　＞　"
} 
@media (max-width:640px){
ul.bread_crumb {
	margin-left: 15px;
}
}/* /sp */











