@charset "utf-8";
/*//////////////////////////////////////////

	clearfix
	
//////////////////////////////////////////*/
.cl:before, .cl:after {
	content: " ";
	display: table;
}
.cl:after {
	clear: both;
}
.cl {
 *zoom: 1;
	display: block;
}

/*//////////////////////////////////////////

	アンカー

//////////////////////////////////////////*/
a {
	color: #7543ba;
	text-decoration: none;
}

/*//////////////////////////////////////////

	レイアウト

//////////////////////////////////////////*/
.screen {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.relative {
	position: relative;
}
.left {
	float: left;
}
.right {
	float: right;
}
.center {
	text-align: center;
}
.block {
	display: block;
}
.empty {
	display: none;
}

/*//////////////////////////////////////////

	PC SP 切り分け

//////////////////////////////////////////*/
.pc-block {
	display: block;
}
.sp-block {
	display: none;
}
.pc-inline {
	display: inline;
}
.sp-inline {
	display: none;
}

@media (max-width:640px){
.pc-block {
	display: none;
}
.sp-block {
	display: block;
}
.pc-inline {
	display: none;
}
.sp-inline {
	display: inline;
}
}/* /sp */

/*//////////////////////////////////////////

	body wrap container

//////////////////////////////////////////*/
body {
	color: #595757;
	font-family: Meiryo, メイリオ, 'MS Pゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
	font-size: 16px;
	word-wrap: break-word;
	-webkit-font-smoothing: subpixel-antialiased;
	}

/*//////////////////////////////////////////

	段落 / 見出し / 文書 

//////////////////////////////////////////*/
p {
	line-height: 175%;
	margin-bottom: 25px;
	text-align: justify;
	text-justify: inter-ideograph;
	-ms-text-justify: inter-ideograph;
}
/*//////////////////////////////////////////

	ヘッダー

//////////////////////////////////////////*/
/* ヘッダー */
header {

}

/* ロゴ */
#site-id {

}

/*//////////////////////////////////////////

	グローバルナビ

//////////////////////////////////////////*/

/*//////////////////////////////////////////

	フッター

//////////////////////////////////////////*/
footer {

}


/*//////////////////////////////////////////

	メインエリアレイアウト

//////////////////////////////////////////*/
#main {}
#sidebar {}













