@charset "utf-8";
/*//////////////　contact　//////////////*/

/* 例外処理 */
#contact__ttl__wrap {
	margin: 100px 0 0;
}

/* wrap */
#contact__wrap {
	width: 980px;
	margin: 0 auto;
}

/*	error
---------------------------------*/

/*
	
	エラー対策：テキストフィールドが並んでいる場合エラーメッセージが<span>で出力されるため、それぞれをブロック要素にする必要がある
	<div class="box-error">姓　　[mwform_text name="sei" id="sei"]</div>
	<div class="box-error">名　　[mwform_text name="mei" id="mei"]</div>

 */
 
.box-error {
	float: left;
	margin-right: 14px;
}

/*	table
---------------------------------*/

/* table */
.table_ordinary {
	width: 100%;
	line-height: 200%;
	border-top: 1px solid #B3B3B3;
}
.table_ordinary tr {
	border-bottom: 1px solid #B3B3B3;
}
.table_ordinary tr:nth-child(odd) {}
.table_ordinary tr:nth-child(even) {
	background-color: #F2F2F2;
}
.table_ordinary th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	width: 180px;
	padding: 13px 50px 10px;
}
.table_ordinary td {
	padding: 13px 20px 10px;
}

/* form parts
---------------------------------*/

/* インプット */
input[type="text"] {
	width: 250px;
	height: 14px;
	border: 1px solid silver;
	background-image: url(../images/page/text-field-bg.png);
	background-repeat: repeat-x;
	font-size: 14px;
	padding: 5px;
}

/* テキストエリア */
textarea {
	border: 1px solid silver;
	width: 470px;
	height: 130px;
	font-size: 14px;
	padding: 5px;
}

/* ラベル */
label {
	margin-right: 20px;
	position: relative;
	top: 2px;
}

/* ラジオボタン */
input[type="radio"] {
	position: relative;
	top: -2px;
}

/* 送信ボタン */
input[type="submit"] {
	font-size: 20px;
	color: white;
	border: none;
	background-color: #0054A6;
	background-repeat: no-repeat;
	width: 16em;
	padding: 10px 40px;
	border-radius: 5px;
	display: block;
	margin: 60px auto;
	outline: none;
}
input[type="submit"]:hover {
	cursor: pointer;
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
	transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-webkit-transition: opacity .15s ease-in-out;
}

/*	ドロップダウン
---------------------------------*/
select {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 200px;
    height: 30px;
    background-color: white;
    border: 1px solid silver;
    border-radius: 0;
    padding: 0 5px;
    background-image: url(../images/common/form-select-arrows-pc.png);
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 14px;
}

/* IE10以上で動作 */
select::-ms-expand {
  display: none;
}

/* firefoxハック */
@-moz-document url-prefix() {
select {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	text-indent: 0.2em;
	background-image: none;
}
}

/* chromeハック */
@media screen and (-webkit-min-device-pixel-ratio:0) {
select {
    text-indent: 0.2em;
}
}

/* element
---------------------------------*/

/* 住所 */
.input-block {
	display: block;
	margin-bottom: 10px;
}

/* 例 */
.example__text {
	color: #00A2B8;
	font-weight: normal;
	padding-left: 20px;
}

/* 必須 */
.require {
	color: #00487B;
}

/* 非表示 */
.mw_wp_form_confirm .require,.mw_wp_form_confirm .example__text,.mw_wp_form_confirm #privacy-policy {
	display: none;
}

/*//////////////////////////////////////////　プライバシーポリシー　//////////////////////////////////////////*/

/* ラップ */
#privacy-policy {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	border: 1px solid #B3B3B3;
}

/* タイトル */
.privacy-policy__ttl {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
.privacy-policy__ttl_sub {
	font-weight: normal;
	margin-bottom: 10px;
}

/* テキストエリア（白バック） */
.scroll-pane {
	background-color: white;
	border: 1px solid #B1B1B1;
	width: 100%;
	height: 112px;
	overflow: auto;
	margin-bottom: 10px;
}
.scroll-pane-inner {
	padding: 15px;
}

/* テキスト */
.privacy-policy__text {
	line-height: 175%;
	margin-bottom: 20px;
}

/* リスト */
.privacy-policy__items {
	line-height: 200%;
	margin-bottom: 20px;
}

/* 同意 */
.agree__text {
	font-size: 15px;
	line-height: 175%;
}
.agree__text label {
	font-size: 17px;
	font-weight: bold;
}
