@charset "utf-8";
/*//////////////　お問い合わせ　//////////////*/

/*	エラー対策
---------------------------------*/

.box-error {
	float: left;
	margin-right: 14px;
}

/*	テーブル
---------------------------------*/
.table_ordinary {}
.table_ordinary th {}
.table_ordinary td {}

/*	インプット
---------------------------------*/
input[type="text"] {
	width: 250px;
	height: 14px;
	border: 1px solid silver;
	padding: 5px;
}

/* テキストエリア */
textarea {
	border: 1px solid silver;
	width: 470px;
	height: 130px;
	padding: 5px;
}

/* インプットをブロック要素に */
.input-block {
	display: block;
	margin-bottom: 10px;
}

/* ラベル */
label {
	margin-right: 20px;
	position: relative;
	top: 2px;
}

/* ラジオボタン */
input[type="radio"] {
	position: relative;
	top: -2px;
}

/* 送信ボタン */
input[type="submit"] {
	font-size: 20px;
	color: white;
	border: none;
	background-color: #0054A6;
	background-repeat: no-repeat;
	width: 16em;
	padding: 10px 40px;
	border-radius: 5px;
	display: block;
	margin: 60px auto;
	outline: none;
	opacity: 1;
	transition: opacity 0.5s;
}
input[type="submit"]:hover {
	cursor: pointer;
	opacity: 0.4;
}

/* ドロップダウン */
select {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 200px;
    height: 30px;
    background-color: white;
    border: 1px solid silver;
    border-radius: 0;
    padding: 0 5px;
    background-image: url(../images/common/form-select-arrows-pc.png);
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 14px;
}
/* IE10以上で動作 */
select::-ms-expand {
  display: none;
}

@-moz-document url-prefix() {/* firefoxハック */
select {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	text-indent: 0.2em;
	background-image: none;
}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {/* chromeハック */
select {
    text-indent: 0.2em;
}
}

/*	エレメント
---------------------------------*/

/* 例 */
.example__text {
	color: #00A2B8;
	font-weight: normal;
	padding-left: 20px;
}

/* 必須 */
.require {
	color: #00487B;
}


/*	非表示
---------------------------------*/

.mw_wp_form_confirm .require,.mw_wp_form_confirm .example__text {
	display: none;
}

/*//////////////////////////////////////////　プライバシーポリシー　//////////////////////////////////////////*/

/* ラップ */
#privacy-policy {
	background-color: #E6E6E6;
	padding: 20px;
	margin-top: 20px;
}

/* タイトル */
#privacy-policy-ttl {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
.privacy-policy-ttl-sub {
	font-size: 15px;
	font-weight: bold;
}

/* テキストエリア（白バック） */
.scroll-pane {
	background-color: white;
	border: 1px solid #B1B1B1;
	width: 100%;
	height: 112px;
	overflow: auto;
}
.scroll-pane-inner {
	padding: 15px;
}

/* テキスト */
.privacy-policy-text {
	font-size: 15px;
	line-height: 175%;
	margin-bottom: 20px;
}

/* リスト */
#privacy-policy-items {
	font-size: 15px;
	line-height: 175%;
	margin-bottom: 20px;
}

/* 所在地 */
#privacy-policy-address {
	font-size: 15px;
	line-height: 175%;
}

/* 同意 */
.agree-text {
	font-size: 18px;
	line-height: 175%;
	text-align: center;
}
.agree-text label {
	font-size: 22px;
	font-weight: normal;
}
