@charset "utf-8";
/*//////////////////////////////////////////　comment　//////////////////////////////////////////*/
/*
	
	エラー対策：テキストフィールドが並んでいる場合エラーメッセージが<span>で出力されるため、それぞれをブロック要素にする必要がある
	<div class="box-error">姓　　[mwform_text name="sei" id="sei"]</div>
	<div class="box-error">名　　[mwform_text name="mei" id="mei"]</div>

 */
.box-error {
	float: left;
	margin-right: 14px;
}

/*////////////////////////////////////////// お問い合わせ //////////////////////////////////////////*/

/* テーブル */
#contact-table {
	width: 100%;
	line-height: 175%;
	border-top: 1px solid #9e9e9e;
	border-right: 1px solid #9e9e9e;
}

@media screen and (max-device-width:640px){
	#contact-table {
		width: 600px;
		line-height: 175%;
		border-top: 2px solid #9e9e9e;
		border-right: 2px solid #9e9e9e;
		margin: 0 auto 30px;
	}
}/* /640px */


/* th */
#contact-table th {
	padding: 13px 50px 10px;
	border-left: 1px solid #9e9e9e;
	border-bottom: 1px solid #9e9e9e;
	background-color: #DDFFF8;
	vertical-align: middle;
	width: 4em;
}

@media screen and (max-device-width:640px){
	#contact-table th {
		padding: 13px 50px 10px;
		border-left: 2px solid #9e9e9e;
		border-bottom: 2px solid #9e9e9e;
		background-color: #DDFFF8;
		vertical-align: baseline;
		display: block;
		width: 500px;
		text-align: center;
		font-size: 20px;
	}
}/* /640px */

/* td */
#contact-table td {
	padding: 13px 20px 10px;
	border-left: 1px solid #9e9e9e;
	border-bottom: 1px solid #9e9e9e;
}

@media screen and (max-device-width:640px){
	#contact-table td {
		padding: 13px 20px 13px;
		border-left: 2px solid #9e9e9e;
		border-bottom: 2px solid #9e9e9e;
		display: block;
		width: 560px;
		text-align: center;
		font-size: 20px;
	}
}/* /640px */

/* インプット */
#contact-table input[type="text"] {
	width: 250px;
	height: 14px;
	border: 1px solid silver;
	background-image: url(../images/page/text-field-bg.png);
	background-repeat: repeat-x;
	font-size: 14px;
	padding: 5px;
}

@media screen and (max-device-width:640px){
	#contact-table input[type="text"] {
		width: 250px;
		height: 20px;
		border: 2px solid silver;
		background-image: url(../images/page/text-field-bg.png);
		background-repeat: repeat-x;
		font-size: 20px;
		padding: 5px;
	}
}/* /640px */


/* テキストエリア */
#contact-table textarea {
	border: 1px solid silver;
	width: 470px;
	height: 130px;
	font-size: 14px;
	padding: 5px;
}

@media screen and (max-device-width:640px){
	#contact-table textarea {
		border: 2px solid silver;
		width: 470px;
		height: 130px;
		font-size: 20px;
		padding: 5px;
	}
}/* /640px */

/* サイズ調整 */
input[type="text"]#sei, input[type="text"]#mei, input[type="text"]#sei-furigana, input[type="text"]#mei-furigana, input[type="text"]#year {
	width: 140px;
}

input[type="text"]#month, input[type="text"]#day {
	width: 40px;
}

/* 例 */
#contact-table .example-text {
	color: #00A2B8;
	font-weight: normal;
	padding-left: 20px;
}

@media screen and (max-device-width:640px){
	#contact-table .example-text {
		color: #00A2B8;
		font-weight: normal;
		padding-left: 20px;
		display: block;
		margin-top: 10px;
	}
}/* /640px */

/* 必須 */
.require {
	color: #00487B;
}
#contact-table .require {
	font-weight: normal;
}

.mw_wp_form_confirm .require,.mw_wp_form_confirm .example-text {
	display: none;
}

/* 同意 */
#contact-table .agree-text {
	text-align: center;
	color: #00A2B8;
	margin: 40px 0 20px;
}

/* ラベル */
label {
	margin-right: 20px;
	position: relative;
	top: 2px;
}
input[type="radio"] {
	position: relative;
	top: -2px;
}

/* 送信ボタン */
input[type="submit"] {
	font-size: 20px;
	color: white;
	border: none;
	background-color: #0054A6;
	background-repeat: no-repeat;
	width: 16em;
	padding: 10px 40px;
	border-radius: 5px;
	display: block;
	margin: 60px auto;
	outline: none;
}
input[type="submit"]:hover {
	cursor: pointer;
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
	transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-webkit-transition: opacity .15s ease-in-out;
}

/* ドロップダウン */
#contact-table select {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 200px;
    height: 30px;
    background-color: white;
    border: 1px solid silver;
    border-radius: 0;
    padding: 0 5px;
    background-image: url(../images/common/form-select-arrows-pc.png);
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 14px;
}
/* IE10以上で動作 */
select::-ms-expand {
  display: none;
}

@-moz-document url-prefix() {/* firefoxハック */
#contact-table select {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	text-indent: 0.2em;
	background-image: none;
}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {/* chromeハック */
#contact-table select {
    text-indent: 0.2em;
}
}

/*//////////////////////////////////////////　プライバシーポリシー　//////////////////////////////////////////*/

/* ラップ */
#privacy-policy {
	background-color: #F1ECE3;
	padding: 20px;
	margin-top: 20px;
}

/* タイトル */
#privacy-policy-h2 {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}

/* テキストエリア（白バック） */
#privacy-policy-text-area {
	background-color: white;
	border: 1px solid #B1B1B1;
	height: 115px;
	padding: 10px;
	overflow: scroll;
	overflow-y: scroll;
	margin-bottom: 15px;
}

/* テキスト */
.privacy-policy-text {
	font-size: 15px;
	line-height: 175%;
	margin-bottom: 20px;
}

/* リスト */
#privacy-policy-items {
	font-size: 15px;
	line-height: 200%;
	margin-bottom: 20px;
}

/* 所在地 */
#privacy-policy-address {
	font-size: 15px;
	line-height: 200%;
}

/* 同意 */
.agree-text {
	font-size: 15px;
	line-height: 175%;
}
.agree-text label {
	font-size: 17px;
	font-weight: bold;
}
