@charset "utf-8";
/*//////////////////////////////////////////　ボタン　//////////////////////////////////////////*/

/* 透過ブロック要素 */
.btn {
	display: block;
	background-repeat: no-repeat;
}
.btn:hover {
	filter: alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-webkit-transition: opacity .15s ease-in-out;
	background-color: white;/* 適用する要素の背景色を指定すること！firefox バグフックス */
}