@charset "utf-8";
/*//////////////////////////////////////////

	見出し
	
//////////////////////////////////////////*/
/* 共通項目 */

/* スタイル別 */

/*//////////////////////////////////////////

	ボタン
	
//////////////////////////////////////////*/
/* 共通項目 */
.btn {
	display: block;
	background-repeat: no-repeat;
}
.btn:hover {
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
	transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-webkit-transition: opacity .15s ease-in-out;
	background-color: white;/* firefox バグフックス */
}


/* スタイル別 */


/*//////////////////////////////////////////

	ボックス
	
//////////////////////////////////////////*/

/*//////////////////////////////////////////

	しきり線
	
//////////////////////////////////////////*/















