@charset "utf-8";
/*//////////////////////////////////////////

	CSSプリロード
	
//////////////////////////////////////////*/
body:after {
    content: url("../images/") url("") url("") url("");
    display: none;
}