@charset "utf-8";
/*	pages
---------------------------------*/

//ボックス
.box_flexible {
	padding: 0 0 30px;
	
	@media screen and (max-width: $viewport) {
		padding: 0 0 5vw;
	}
	
	.inner {
		width: 100%;
		margin: 0 auto;
		min-width: 100%;
		overflow: hidden;
		
		@media screen and (max-width: $viewport) {
			width: 94%;
			margin: 0 auto;
			min-width: 94%;
			overflow: hidden;
		}
		
		//見出し
		.ttl_flexible {
			font-size: 28px;
			font-weight: bold;
			text-align: left;
			line-height: 150%;
			margin-bottom: 20px;
			
			@media screen and (max-width: $viewport) {
				font-size: 20px;
				font-weight: normal;
				text-align: left;
				line-height: 150%;
				margin-bottom: 2vw;
			}
			
			> span {
				color: violet;
				font-size: 18px;
				font-weight: bold;
				padding-left: 20px;
				position: relative;
				top: -3px;
			}
		}
		
		p {
			line-height: 200%;
			margin-bottom: 30px;
			
			@media screen and (max-width: $viewport) {
				line-height: 200%;
				margin-bottom: 5vw;
			}
		}
		
		> a {
			width: 400px;
			display: block;
			margin: 60px auto 0;
			padding: 10px 20px;
			font-size: 20px;
			text-align: center;
			border-radius: 10px;
			border: 6px solid lavender;
			background: violet;
			color: white;
			cursor: pointer;
			transition: all .7s;
			
			&:hover {
				opacity: .5;
			}
			
			@media screen and (max-width: $viewport) {
				margin: 5vw auto 0;
			}
		}
		
	}//.inner
}

.hn_text_gallery {
	
	ul.n3 {
		margin-top: 30px;
		overflow: hidden;
		
		@media screen and (max-width: $viewport) {
			margin-top: 5vw;;
			overflow: hidden;
		}
		
		li {
			box-sizing: border-box;
			width: 32%;
			float: left;
			margin-right: 2%;
			margin-bottom: 30px;
			
			@media screen and (max-width: $viewport) {
				margin-bottom: 5vw;
			}
			
			&:nth-child(3n) {
				margin-right: 0;
			}
			
			> figure {
				text-align: center;
			}
			
			.caption {
				display: block;
				font-weight: bold;
			}
			
			.text {
				display: block;
				
				@media screen and (max-width: $viewport) {
					text-align: center;
				}
			}
			
			.link {
				display: block;
				
				> a {
					opacity: 1;
					transition: opacity .7s;
					
					&:hover {
						opacity: .3;
					}
					
					&::after {
						color: #cfcfcf;
						content: "\f054";
						font-family: FontAwesome;
						padding-left: 15px;
					}
				}
			}
		}//li
	}//ul
	
	ul.n4 {
		margin-top: 30px;
		overflow: hidden;
		
		@media screen and (max-width: $viewport) {
			margin-top: 5vw;;
			overflow: hidden;
		}
		
		li {
			box-sizing: border-box;
			width: 22%;
			float: left;
			margin-right: 4%;
			margin-bottom: 30px;
			
			@media screen and (max-width: $viewport) {
				margin-bottom: 5vw;
			}
			
			&:nth-child(3n) {
				margin-right: 0;
			}
			
			> figure {
				text-align: center;
			}
			
			.caption {
				display: block;
				font-weight: bold;
			}
			
			.text {
				display: block;
				
				@media screen and (max-width: $viewport) {
					text-align: center;
				}
			}
			
			.link {
				display: block;
				
				> a {
					opacity: 1;
					transition: opacity .7s;
					
					&:hover {
						opacity: .3;
					}
					
					&::after {
						color: #cfcfcf;
						content: "\f054";
						font-family: FontAwesome;
						padding-left: 15px;
					}
				}
			}
		}//li
	}//ul
	
	ul.n5 {
		overflow: hidden;
		
		li {
			box-sizing: border-box;
			width: 18%;
			float: left;
			padding: 10px;
			margin-right: 2.5%;
			background: oldlace;
			border-radius: 5px;
			
			@media screen and (max-width: $viewport) {
				box-sizing: border-box;
				width: 100%;
				float: none;
				padding: 4vw;
				margin-right: 0;
				background: oldlace;
				border-radius: 5px;
			}
			
			&:nth-child(5n) {
				margin-right: 0;
			}
			
			> figure {
				text-align: center;
			}
			
			.caption {
				display: block;
				font-weight: bold;
			}
			
			.text {
				display: block;
				
				@media screen and (max-width: $viewport) {
					text-align: center;
				}
			}
			
			.link {
				display: block;
				
				> a {
					opacity: 1;
					transition: opacity .7s;
					
					&:hover {
						opacity: .3;
					}
					
					&::after {
						color: #cfcfcf;
						content: "\f054";
						font-family: FontAwesome;
						padding-left: 15px;
					}
				}
			}
		}//li
	}//ul
}

.hn_text_wide {
	figure {
		margin-bottom: 20px;
	}
}

.hn_text_landscape {
	
	.primary {
		overflow: hidden;
		
		figure {
			width: 320px;
			float: right;
			
			@media screen and (max-width: $viewport) {
				width: 100%;
				float: none;
				margin-bottom: 5vw;
				text-align: center;
			}
		}
		
		p {
			width: calc(100% - 340px);
			float: left;
			
			@media screen and (max-width: $viewport) {
				width: 100%;
				float: none;
			}
		}
	}
	
}//.heading-center_portrait

.hn_text_portrait {
	
	.primary {
		overflow: hidden;
		
		figure {
			width: 240px;
			float: right;
			
			@media screen and (max-width: $viewport) {
				width: 100%;
				float: none;
				margin-bottom: 5vw;
				text-align: center;
			}
		}
		
		p {
			width: calc(100% - 260px);
			float: left;
			
			@media screen and (max-width: $viewport) {
				width: 100%;
				float: none;
			}
		}
	}
}//.heading-center_portrait

.gallery_flexible {
	width: 980px;
	margin: 0 auto;
	min-width: 980px;
	overflow: hidden;
	
	@media screen and (max-width: $viewport) {
		width: 94%;
		margin: 0 auto;
		min-width: 94%;
		overflow: hidden;
	}
	
	li {
		width: 32%;
		float: left;
		margin-right: 2%;
		margin-bottom: 20px;
		
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}