@charset "utf-8";
/*	form
---------------------------------*/

.mwform-checkbox-field.horizontal-item {
	margin-right: 0 !important;
	margin-left: 0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
	display: block;
	margin-bottom: 10px;
}