@charset "UTF-8";
/*
	# 変更不可 ＊変更は custom.css へコピーして変更
	
	## CSS検索ワードリスト
	header
	footer
	home
	pages
		＊各ページ
	
*/
/*	preload
---------------------------------*/
body:after { content: url("../images/") url(""); display: none; }

/*	common
---------------------------------*/
body { color: black; font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif; font-size: 13px; word-wrap: break-word; -webkit-font-smoothing: subpixel-antialiased; -webkit-text-size-adjust: 100%; }

@media screen and (max-width: 1024px) { body { width: 100%; } }

@media screen and (max-width: 768px) { body { width: 100%; font-size: 13px; } }

/* link */
a { color: black; text-decoration: none; }

a:active, a:focus { outline: none; ie-dummy: expression(this.hideFocus=true); }

/* element */
.btn { opacity: 1; transition: opacity 0.5s; }

.btn:hover { opacity: 0.5; }

/* adjust anchor */
.anc { margin-top: -0px; padding-top: 0px; }

/* figure */
img { max-width: 100%; height: auto; }

/* heading */
h1, h2, h3, h4, h5, h6 { line-height: 150%; }

/* text */
p { text-align: justify; text-justify: inter-ideograph; -ms-text-justify: inter-ideograph; }

/* text */
.text { line-height: 200%; }

/* text */
.paragraph { line-height: 200%; margin-bottom: 30px; }

@media screen and (max-width: 768px) { .paragraph { line-height: 200%; margin-bottom: 5%; } }

/*	screen
---------------------------------*/
.screen { width: 980px; margin: 0 auto; }

@media screen and (max-width: 1024px) { .screen { width: 100%; margin: 0 auto; } }

@media screen and (max-width: 768px) { .screen { width: 100%; margin: 0 auto; } }

/*	clearfix
---------------------------------*/
/* add parent object */
.cl:before, .cl:after { content: " "; display: table; }

.cl:after { clear: both; }

.cl { *zoom: 1; display: block; }

/*	section
---------------------------------*/
#main { width: 100%; }

/*	breads
---------------------------------*/
#breads { width: 1020px; margin: 20px auto; }

#breads a:hover { text-decoration: underline; }

/*	pagination
---------------------------------*/
/* wrap */
.pagination { text-align: center; margin-bottom: 60px; }

/* heading */
.screen-reader-text { display: none; }

/* wrap */
.nav-links { overflow: hidden; }

/* link */
a.page-numbers { background-color: #C2B185; color: white; display: inline-block; margin-right: 15px; padding: 6px 6px 6px; }

.nav-links .current { display: inline-block; margin-right: 15px; color: #C2B185; }

.dots { margin-right: 15px; }

.nav-links a.next { border: none; }

.nav-links a.prev { border: none; }

/*	display
---------------------------------*/
.hide-panel { display: none; }

/* wrap */
.pc-block { display: block; }

@media screen and (max-width: 768px) { .pc-block { display: none; } }

.sp-block { display: none; }

@media screen and (max-width: 768px) { .sp-block { display: block; } }

.pc-inline { display: inline; }

@media screen and (max-width: 768px) { .pc-inline { display: none; } }

.sp-inline { display: none; }

@media screen and (max-width: 768px) { .sp-inline { display: inline; } }

/*	device
---------------------------------*/
/* Android bugfix ４系 */
p { background-image: url(image); }

h1, h2, h3, h4, h5, h6, th, td { background-image: url(image); }

/* iOS */
input[type="submit"] { -webkit-appearance: none; border-radius: 0; }

/*	header
---------------------------------*/
/*	footer
---------------------------------*/
/*	nav
---------------------------------*/
/*	post
---------------------------------*/
/* heading */
.single-content h1 { font-size: 2.6rem; margin-bottom: 2.6rem; }

.single-content h2 { font-size: 2.2rem; margin-bottom: 2.2rem; }

.single-content h3 { font-size: 1.8rem; margin-bottom: 1.8rem; }

.single-content h4, .single-content h5, .single-content h6 { font-size: 1.5rem; margin-bottom: 1.5rem; }

/* text */
.single-content p { line-height: 200%; margin-bottom: 30px; }

/* list */
.single-content ul { list-style-type: circle; list-style-position: inside; line-height: 225%; margin-bottom: 60px; }

.single-content ol { list-style-position: inside; line-height: 225%; margin-bottom: 60px; }

/* link */
.single-content a { color: #709ae8; }

.single-content a:hover { text-decoration: underline; }

/* modifier */
.alignleft { display: inline; float: left; padding-right: 10px; }

.alignright { display: inline; float: right; padding-left: 10px; }

.aligncenter { display: block; margin-right: auto; margin-left: auto; }

/*	home
---------------------------------*/
/*	pages
---------------------------------*/
/*	heading 見出しスタイル
---------------------------------*/
/*	非表示
---------------------------------*/
.mw_wp_form_confirm .require { display: none; }

.mw_wp_form_confirm #privacy-policy { display: none; }

input[type="submit"] { background: url(../images/form/btn-confirm.png) no-repeat white; border: none; text-indent: -9999px; width: 303px; height: 78px; display: block; margin: 0 auto 120px; cursor: pointer; opacity: 1; transition: opacity 0.5s; }

input[type="submit"]:hover { opacity: 0.5; }

.mw_wp_form_confirm input[type="submit"] { background: url(../images/form/btn-send.png) no-repeat white; }

/*	wrap_form
---------------------------------*/
#wrap_form { margin-bottom: 60px; }

@media screen and (max-width: 768px) { #wrap_form { margin-bottom: 10vw; } }

#wrap_form > p { line-height: 200%; margin-bottom: 20px; }

@media screen and (max-width: 768px) { #wrap_form > p { line-height: 200%; margin-bottom: 3vw; } }

#wrap_form .require { color: #7ab529; }

#wrap_form table { width: 100%; line-height: 200%; margin-bottom: 30px; }

@media screen and (max-width: 768px) { #wrap_form table { width: 100%; line-height: 200%; margin-bottom: 5vw; } }

#wrap_form table tr:nth-child(odd) { background: #f4f7e5; }

@media screen and (max-width: 768px) { #wrap_form table tr:nth-child(odd) { background: white; } }

#wrap_form table th { font-weight: normal; text-align: left; vertical-align: top; padding: 10px 10px 10px; width: 200px; }

@media screen and (max-width: 768px) { #wrap_form table th { font-weight: normal; text-align: left; vertical-align: top; padding: 2vw; display: block; box-sizing: border-box; width: 100%; background: #f4f7e5; } }

#wrap_form table td { padding: 10px 10px 10px; }

@media screen and (max-width: 768px) { #wrap_form table td { padding: 2vw; display: block; } }

#wrap_form input[type="text"] { height: 22px; width: 300px; padding: 0 5px; }

@media screen and (max-width: 768px) { #wrap_form input[type="text"] { height: 22px; box-sizing: border-box; width: 100%; padding: 0 5px; } }

#wrap_form #year { width: 90px; }

#wrap_form #month { width: 60px; }

#wrap_form #day { width: 60px; }

#wrap_form textarea { height: 200px; width: 300px; padding: 0 5px; }

@media screen and (max-width: 768px) { #wrap_form textarea { height: 200px; box-sizing: border-box; width: 100%; padding: 0 5px; } }

/*	form
---------------------------------*/
.mwform-checkbox-field.horizontal-item { margin-right: 0 !important; margin-left: 0 !important; padding-right: 0 !important; padding-left: 0 !important; display: block; margin-bottom: 10px; }

/* ドロップダウン */
select { -webkit-appearance: button; -moz-appearance: button; appearance: button; height: 30px; background-color: white; border: 1px solid silver; border-radius: 0; padding: 0 5px; background-image: url(../images/form/arrow-select.png); background-repeat: no-repeat; background-position: right center; font-size: 14px; }

/* IE10以上で動作 */
select::-ms-expand { display: none; }

@-moz-document url-prefix() { /* firefoxハック */
  #contact-table select { -webkit-appearance: button; -moz-appearance: button; appearance: button; text-indent: 0.2em; background-image: none; } }

@media screen and (-webkit-min-device-pixel-ratio: 0) { /* chromeハック */
  #contact-table select { text-indent: 0.2em; } }

/*	プライバシーポリシー
---------------------------------*/
/* ラップ */
#privacy-policy { background-color: #f4f7e5; padding: 20px; margin-bottom: 60px; }

#privacy-policy > h1 { margin-bottom: 5px; }

#privacy-policy > p { margin-bottom: 10px; }

/* タイトル */
#privacy-policy-ttl { font-size: 18px; font-weight: bold; margin-bottom: 10px; }

.privacy-policy-ttl-sub { font-size: 15px; font-weight: bold; }

/* テキストエリア（白バック） */
.scroll-pane { background-color: white; border: 1px solid #B1B1B1; width: 100%; height: 112px; margin-bottom: 15px; overflow: auto; }

.scroll-pane h1, .scroll-pane h2, .scroll-pane h3, .scroll-pane h4, .scroll-pane h5 { margin-bottom: 5px; }

.scroll-pane p { margin-bottom: 15px; line-height: 150%; }

.scroll-pane ul { margin-bottom: 15px; line-height: 150%; }

.scroll-pane-inner { padding: 15px; }

/* テキスト */
.privacy-policy-text { font-size: 15px; line-height: 175%; margin-bottom: 20px; }

/* リスト */
#privacy-policy-items { font-size: 15px; line-height: 175%; margin-bottom: 20px; }

/* 所在地 */
#privacy-policy-address { font-size: 15px; line-height: 175%; }

/* 同意 */
.agree__text span { display: block; margin-top: 10px; font-size: 18px; font-weight: normal; }
