@charset "utf-8";
/*//////////////　post　//////////////*/

/* heading */
.single-content h1 {
	font-size: 2.6rem;
	margin-bottom: 2.6rem;
}
.single-content h2 {
	font-size: 2.2rem;
	margin-bottom: 2.2rem;
}
.single-content h3 {
	font-size: 1.8rem;
	margin-bottom: 1.8rem;
}
.single-content h4, .single-content h5, .single-content h6 {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

/* text */
.single-content p {
	line-height: 200%;
	margin-bottom: 30px;
}

/* list */
.single-content ul {
	list-style-type: circle;
	list-style-position: inside;
	line-height: 225%;
	margin-bottom: 60px;
}
.single-content ol {
	list-style-position: inside;
	line-height: 225%;
	margin-bottom: 60px;
}

/* link */
.single-content a {
	color: #709ae8;
}
.single-content a:hover {
	text-decoration: underline;
}

/* modifier */
.alignleft {
	display: inline;
	float: left;
	padding-right: 10px;
}

.alignright {
	display: inline;
	float: right;
	padding-left: 10px;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
