@charset "UTF-8";


/*
Zarigani Design Office Drawer Menu
Copyright 2018 Zarigani Design Office

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
.zdo_drawer_menu * {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
  text-decoration: none;
  list-style: none;
}

.zdo_drawer_menu a {
  color: inherit;
  text-decoration: none;
}

.zdo_drawer_menu a:visited {
  color: inherit;
}

.zdo_drawer_menu .zdo_drawer_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(51, 51, 51, 0.5);
  display: none;
  top: 0;
  left: 0;
}

.zdo_drawer_menu .circle_drawer_button {
  display: block;
  background: none;
  border: none;
  padding: 0;
  width: 56px;
  height: 56px;
  letter-spacing: 0.1em;
  cursor: pointer;
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 1001;
  text-align: center;
  outline: none;
  border-radius: 28px;
  box-sizing: border-box;
  /*アニメーションスピード調整*/
  transition: all 0.5s;
}

.zdo_drawer_menu .circle_drawer_button .zdo_drawer_bar {
  display: block;
  /*バーの長さ*/
  width: 14px;
  height: 1px;
  /*バーの間隔、中心位置*/
  margin: 4px 21px;
  /*アニメーションスピード調整*/
  transition: all 0.5s;
  transform-origin: 0% 0%;
}

.zdo_drawer_menu .circle_drawer_button.active {
  /*オープン時*/
}

.zdo_drawer_menu .circle_drawer_button.active .zdo_drawer_bar {
  /*バーの長さ*/
  width: 26px;
  /*バーの間隔、中心位置*/
  margin: 8px 19.5px;
}

.zdo_drawer_menu .circle_drawer_button.active .zdo_drawer_bar1 {
  transform: rotate(45deg);
}

.zdo_drawer_menu .circle_drawer_button.active .zdo_drawer_bar2 {
  opacity: 0;
}

.zdo_drawer_menu .circle_drawer_button.active .zdo_drawer_bar3 {
  transform: rotate(-45deg);
}

.zdo_drawer_menu .circle_drawer_button.active .zdo_drawer_menu_text {
  display: none;
}

.zdo_drawer_menu .circle_drawer_button.active .zdo_drawer_close {
  display: block;
}

/*+++ Default Navigation CSS +++*/
.zdo_drawer_menu .zdo_drawer_nav_wrapper {
  width: 312px;
  height: 100%;
  /*アニメーションスピード調整*/
  transition: all 0.5s;
  transform: translate(312px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: #FFF;
}

.zdo_drawer_menu .zdo_drawer_nav_wrapper.open {
  transform: translate(0);
}

.zdo_drawer_menu .zdo_drawer_nav {
  padding: 112px 24px;
}

.zdo_drawer_menu .zdo_drawer_nav li {
  font-size: 16px;
  margin-bottom: 15px;
}

/*+++ ボタン色 +++*/
.zdo_drawer_menu .circle_drawer_button {
  /*通常時 背景色*/
  background-color: #333333;
}

.zdo_drawer_menu .circle_drawer_button .zdo_drawer_bar {
  /*通常時 バーの色*/
  background-color: #FFFFFF;
}

.zdo_drawer_menu .circle_drawer_button.active {
  /*オープン時 背景色*/
  background-color: #333333;
}

.zdo_drawer_menu .circle_drawer_button.active .zdo_drawer_bar {
  /*オープン時 バーの色*/
  background-color: #FFFFFF;
}
